body {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.breakLine {
    background-color: #424242;
    width: 95%;
    height: 0.15rem;
    margin: 0.5rem;
    margin-top: 1.5rem;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.logoHeader {
    transform: scale(1.5);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:min-content;
    margin-bottom: 15rem;
    width: 100%;   
    overflow-x:hidden
}


.mainTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mainBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    text-align: center;
}

.mainBottom .logos {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.mainBottom p {
    color: #757575;
    align-items: center;
    text-align: center;
}

.mainTop h1 {
    color: aliceblue;
}

.mainTop .msg {
    max-width: 80%;
    align-items: center;
    text-align: center;
}

.mainTop p {
    color: #757575;
}

.img {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
}

#concert {
    width: 27rem; 
}